.card {
    margin: 20px;
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    font-family: Helvetica, monospace, sans-serif;
}

.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgb(170, 160, 160);
    border-radius: 10px;
}

.unflipped {
    animation: 0.5s ease 1 forwards unflipped;
}

.flipped {
    animation: 0.5s ease 1 forwards flipped;
}

@keyframes unflipped {
    to {
        transform: rotateY(-360deg);
    }
}

@keyframes flipped {
    to {
        transform: rotateY(540deg);
    }
}

.front-face img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 3px 1px 2px rgb(129, 117, 117);
}

.front-face h2 {
    margin: 20px 0 0 0;
    font-size: 1.75rem;
    color: rgb(68, 9, 17);
}

.front-face p {
    font-size: 1.15rem;
}

.front-face button {
    background: rgb(77, 105, 169);
    color: azure;
    font-size: 1.15rem;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
}

.front-face,
.back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.front-face {
    padding: 20px;
    background: rgb(156, 168, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-face {
    background-color: #ccd2ee;
    transform: rotateY(180deg);
    padding: 20px;
    font-size: 1.15rem;
    position: relative;
}

.back-face button {
    margin: 10px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url("../assets/images/return.svg");
    background-size: cover;
    border: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
}