*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Kolker;
    src: url("../assets/fonts/kolkerbrush-regular-webfont.woff2") format('woff2'),
        url("../assets/fonts/kolkerbrush-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
    min-height: 100vh;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: rgb(241, 189, 105);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav .seres img {
    width: 75px;
}

nav .logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: Kolker;
    letter-spacing: .5rem;
}

nav .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .links>* {
    margin: 20px;
}

nav .links a {
    color: rgb(160, 17, 17);
    padding: 5px;
    border: 4px solid rgb(2, 21, 55);
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all .33s;
}

nav #active {
    background: rgb(236, 236, 48);
    color: azure;
    text-shadow: 1px 1px 2px rgb(103, 5, 5);
    border-bottom-color: gold;
    border-right-color: gold;
    border-top-color: rgb(255, 255, 121);
    border-left-color: rgb(255, 255, 121);
}

nav .links a:hover {
    color: azure;
    background: rgb(2, 21, 55);
}

nav .links a:active {
    text-decoration: underline;
}

footer {
    background: rgb(241, 189, 105);
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    margin: 0 1rem;
}

@media screen and (max-width: 1000px) {
    nav .links>* {
        margin: 10px;
    }
}

@media screen and (max-width: 900px) {
    .burger {
        display: flex;
    }

    nav {
        position: relative;
        display: block;
    }

    nav .seres * {
        z-index: 5;
    }

    nav .links {
        background: rgb(241, 189, 105);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100%;
        transform: translateY(-100%);
        transition: transform .33s;
        z-index: 1;
    }

    nav .links a {
        color: rgb(160, 17, 17);
        padding: 0;
        border: none;
        font-size: 1.5rem;
        text-decoration: none;
    }

    nav .links a:hover {
        color: black;
        background: transparent;
        text-decoration: underline;
    }

    nav #active {
        background: transparent;
        text-decoration: underline;
    }

    nav .seres {
        background: rgb(241, 189, 105);
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        z-index: 2;
    }
}